<html>
<head>
    <title></title>
</head>
<body>
<div><span style="font-family: Arial; font-size: 16px; -webkit-text-stroke: rgb(0, 0, 0);">Hello {{firstName}},</span>
</div>

<div>&nbsp;</div>

<div>
    <p class="p1"><span style="font-family: Arial; font-size: 16px; -webkit-text-stroke-color: rgb(0, 0, 0);">We have received your&nbsp;</span><span class="s1">request to reset your password.</span>
    </p>

    <p class="p1">
        <span class="s1">To reset your Home Safe&nbsp;account password, please click <a href="http://www.catholicforce.com/password-reset?code={{code}}"><span class="s1">here</span></a> or use the following link:</span>
    </p>

    <p class="p1">&nbsp;</p>

    <p class="p1"><a href="http://www.catholicforce.com/password-reset?code={{code}}"><span class="s1">http://www.catholicforce.com/password-reset?code={{code}}</span></a>
    </p>
</div>
<style type="text/css">p.p1 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 16.0px Arial;
    -webkit-text-stroke: #000000
}

span.s1 {
    font-kerning: none
}
</style>
</body>
</html>
